@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'noto sans', sans-serif;
    background-color: #f0f0f0;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.buttons {
    margin: 0 0 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px 0;
    
}

.buttons button {
    padding: 20px 20px;
    border: none;
    line-height: 1.5;
    font-size: 1rem;
    border-radius: 5px;
    background-color: rgb(0, 162, 255);
    color: #fff;
    cursor: pointer;
    transition: transform .6s ease;
    outline: none;
}

.buttons button:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.buttons button:active {
    transform: scale(0.9);
}

button span {
    font-weight: bold;
}

ul {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
}

ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(0, 162, 255);
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform .6s ease;
}

ul li:hover {
    transform: scale(1.1);
}

.card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.8s ease-out;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

.total-price-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(0, 162, 255);
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform .6s ease;
    animation: moveCard 1s ease;
        & span {
            text-decoration: underline;
        }
}

@keyframes moveCard {
    to {
        transform: translateY(0);
        opacity: 1;
    }
    from {
        transform: translateY(20px);
        opacity: 0;
    }
}

ul li img {
    max-width: 100%;
    height: 200px;
    transition: transform .6s ease;
    border-radius: 5px;
    object-fit: cover;
}

ul li h2 {
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: center;
}

ul li p {
    font-size: 1rem;
    margin: 5px 0;
    text-align: center;
}





